@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

html,
body {
    font-family: 'Roboto', sans-serif;
    color: #B8926A;
}

body {
    margin: 0;
    padding: 0;
}

#nav-bar {
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
    padding: 40px 0;
}

#nav-bar > a {
    text-decoration: none;
    color: #D4C8BE;
    margin: 0px 40px;
}

#nav-bar > a:hover {
    text-decoration: none;
    color: #B8926A;
    transition: 0.5s;
}

.direction {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    text-align: center;
}

.ball {
    display: inline-block;
    width: 39px;
    height: 39px;
    line-height: 39px;
    font-size: 24px;
    color: #2b2b2d;
    background-color: #B0B0B0;
    text-align: center;
    border: 1px solid #B0B0B0;
    padding: 3px;
    border-radius: 50%;
}

.container {
    height: 100vh;
    background-color: #2b2b2d;
}

.content {
    width: 400px;
    flex-grow: 2;
    align-self: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-grow: 1;
}

.ball-row {
    overflow: hidden;
    padding: 8px;
    min-height: 57px;
    border: 2px solid #beb7a5;
    margin-bottom: 12px;
    border-radius: 25px;
}
.flex-center.ball-row {
    justify-content: space-between;
}

.error-span {
    color: #e7a9a9;
}

#huxflux-button {
    margin-right: 12px;
}

button {
    padding: 12px;
    border: 2px solid #B0B0B0;
    border-radius: 12px;
    color: #B0B0B0;
    font-size: 15px;
    background-color: transparent;
    min-width: 140px;
    user-select: none;
    outline:none;
}

button:hover {
    background-color: #B0B0B0;
    color: #2b2b2d;
    transition: 0.5s;
}

#footer {
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
    display: flex;
}

#footer > a {
    width: 50%;
    display: flex;
    margin: 0 auto;
    display: inline-block;
    text-decoration: none;
    justify-content: space-around;
}

#footer div {
    padding-top: 20px;
    border: transparent;
}

#footer .ball {
    color: #2b2b2d;
    background-color: #B8926A;
    text-align: center;
    border: 1px solid #B8926A;
}

/* Utility */
.flex-row {
    /* flex-basis: 100%; */
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

